/* index */
.jumbotron {
  color: white;
  margin-top: 10px;
  margin-bottom: 130px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.bioPic {
  float: left;
}

.icon {
  height: 50px;
  padding: 5px;
}

/* portfolio */
.portfolio {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
  margin-bottom: 130px;
}

.portImg {
  height: 200px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.card {
  margin: 10px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* contact */

form {
  color: white;
}

footer p {
  text-align: center;
  color: white;
}

footer img {
  height: 50px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: #007bff 4px solid;
}
